.container{
    cursor: pointer !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.24);
    transition: .4s;
}
.container:hover{
    background-color: #71FBB9;
}
.stat{
    padding: 10px;
}
.title{
    padding: 10px;
}
.offContainer{
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin: 10px;
    background-color: #71FBB9;
    transition: .4s;
}
