body{
  background-color: #f5f5f5;
}
.App {
  text-align: center;
  color: rgb(18, 32, 41);
  font-family: 'Dosis', sans-serif;
}
.LayoutContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}